.recipes {
    margin: auto;
    width: 80%;
    padding: 2em 0 0 2em;
}

.recipes .table tr {
    border: 2px solid #ffd1dc;
}

.recipes .table tr th {
    border-bottom: 2px solid #ffd1dc;
}

.recipes tbody:hover {
    cursor: pointer;
}

.recipes tbody tr:hover {

    background-color: #ffd1dc;
}
