.container-fluid {
    text-align: center;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    background-color: #414141;
    height: 150px;
    box-shadow: 0 4px 8px #FF6A5C;
}


.container-fluid .row [class*='col-'] {
    margin-bottom: auto;
    margin-top: auto;
}

.container-fluid .row [class*='col-']:hover {

}

.flex-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    user-select: none;
    color: white;
}

.flex-container:hover {
    color: #FF6A5C;
    cursor: pointer;
}


.flex-container h2 {
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.flex-container h2:hover {
    color: #FF6A5C;
    cursor: pointer;
}


.flex-container-active {
    padding: 1em;
    display: flex;
    flex-direction: column;
    user-select: none;
    color: #FF6A5C;
    cursor: default;
}

.flex-container-active h2 {
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.flex-container-active h2:hover {
    color: #FF6A5C;
    cursor: pointer;
}

.content {
    padding-top: 3em;
    margin-top: 150px;
    overflow-y:scroll;
    height: 80vh;
}