.grid {
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.grid li {
    width: 25%;
    float: left;
}


@media (max-width: 1000px){
    .grid li {
        width: 50%;
    }

}

@media (max-width: 600px){
    .grid li {
        padding: 0;
        width: 100%;
    }

}