.list {
    margin: auto;
    width: 80%;
    padding: 2em;
    background: #fff;
    border-radius: 25px;
}

.list .table tr {
    border: 2px solid #FF6A5C;
}

.list .table tr th {
    border-bottom: 2px solid #FF6A5C;
}

.list tbody:hover {
    cursor: pointer;
}

.list tbody tr:hover {

    background-color: #FF6A5C;
}
